---
layout: default
---

<div class="home">
  {% include featured.html %}
  <div class="home-quick-about">
    <div class="container">
      <div class="intro-text">
        <h3>
          The Honest Guide to Cooking is an online resource with advice about how to go about cooking.
        </h3>
        <p>
          The online version of the guide will be periodically updated until it contains all the information that is in the book - but if you can't wait or if you want to show your support, go ahead and <a href="">grab a copy here</a>
        </p>
        <p>
          The Guide contains no recipes - it is a guide to cooking, not a cookbook. It gives you a general understanding of what cooking is about, not a detailed explanation of everything that is or isn’t cooking, it will not fill you with the inspiration or know-how to create “culinary masterpieces”. 
        </p>
        <p>
          The Guide is for anyone who has at some point decided “I will cook this year” and given up because they could not be bothered to get into cooking literature. 
        </p>
        <h3>
          It will at the very least teach you something that resembles cooking skills. 
        </h3>
      </div>
    </div>
  </div>
  <div class="posts">
    <li class="latest">
      <h1>Latest Posts:</h1>
      <p>
        All the newest stuff, in one place
      </p>
    </li>
    {% for post in paginator.posts %}
      <li class="post" style="background: {{post.color}}">
        <h3>{{ post.type}}</h3>
        {% assign image = post.images[0] %}
        {% include image.html image=image %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h1 class="h2 post-title">{{ post.title }}</h1></a>
        <p class="post-summary">
          {{ post.summary }}
        </p>
        <p class="post-meta">Published on{{ post.date | date: "%b %-d, %Y" }}</p>
      </li>
    {% endfor %}
    {% for post in site.tags.ingredient %}
      <li class="post" style="background: {{post.color}}">
        <h3>{{ post.type}}</h3>
        {% assign image = post.images[0] %}
        {% include image.html image=image %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h1 class="h2 post-title">{{ post.title }}</h1></a>
        <p class="post-summary">
          {{ post.summary }}
        </p>
        <p class="post-meta">Published on{{ post.date | date: "%b %-d, %Y" }}</p>
      </li>
    {% endfor %}

    
  </div>

  {% include pagination.html %}
</div>