<div class="chapters">
  <div class="chapter select">
    <div class="text-box">
      <h1>
        Learn About:
      </h1>
      <p>
        The Honest Guide to cooking has 5 main chapters/topics for you to explore: <b>Equipment</b>, <b>Ingredients</b>, <b>Techniques</b>, <b>Tips & Tricks</b> and <b>Save My Dinner</b>! What do you want to learn about?
      </p>
    </div>
  </div>
  <a href="/equipment" class="chapter equipment">
    {% image chapters/equipment.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        The Honest Guide to Equipment
      </div>
    </div>
  </a>
  <a href="/ingredients" class="chapter ingredients">
    {% image chapters/ingredients.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        The Honest Guide to Ingredients
      </div>
    </div>
  </a>
  <a href="/techniques" class="chapter techniques">
    {% image chapters/techniques.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        The Honest Guide to Techniques
      </div>
    </div>
  </a>
  <a href="/tips-tricks" class="chapter tips-tricks">
    {% image chapters/tips-tricks.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        The Honest Guide to Tips &amp; Tricks
      </div>
    </div>
  </a>
  <a href="/save-dinner" class="chapter save-dinner">
    {% image chapters/save-dinner.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        Save My Dinner!
      </div>
    </div>
  </a>
</div>