<div class="chapter-select">
    <div class="container">
      <div class="learn-about">
        <h2>
          What would <u>you</u> like to learn about?
        </h2>
        <p>
          Hey there! The Honest guide to cooking is still under construction so we haven't got that much content up yet. While we clean up behind the curtains, feel free to have a snoop around!
        </p>
        <p>
          The Honest Guide to cooking has 6 main chapters/topics for you to explore: <b>General Advice</b><b>Equipment</b>, <b>Ingredients</b>, <b>Techniques</b>, <b>Tips & Tricks</b> and <b>Save My Dinner</b>! Click on a chapter to read more about your topic.
        </p>
      </div>
    </div>
  </div>
<div class="chapters">
  <a href="/chapters/general" class="chapter general">
    {% image chapters/general.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        General Advice
      </div>
    </div>
  </a>
  <a href="/chapters/equipment" class="chapter equipment">
    {% image chapters/equipment.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        Learn about Equipment
      </div>
    </div>
  </a>
  <a href="/chapters/ingredients" class="chapter ingredients">
    {% image chapters/ingredients.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        Learn about Ingredients
      </div>
    </div>
  </a>
  <a href="/chapters/techniques" class="chapter techniques">
    {% image chapters/techniques.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        Learn about Techniques
      </div>
    </div>
  </a>
  <a href="/chapters/tipstricks" class="chapter tips-tricks">
    {% image chapters/tips-tricks.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        Tips &amp; Tricks
      </div>
    </div>
  </a>
  <a href="/chapters/savedinner" class="chapter save-dinner">
    {% image chapters/save-dinner.png %}
    <div class="hover-overlay">
      <div class="ghost-button">
        Save My Dinner!
      </div>
    </div>
  </a>
</div>