

$form-padding: $padding-base;

//Inputs
$input-background-color: #ffffff;
$input-base-padding: 5px;

//FORM TYPOGRAPHY
$form-font-family: $body;
$form-font-size: $base-font-size;

//FORM BORDERS
$form-border-color: $border-base-color;
$form-border-color-hover: $border-base-color;
$form-border-color-focus: $blue;
$form-border-radius: $border-base-radius;

//FORM ACTION STATES
$form-box-shadow-focus: 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);

