
body {
  
  &.noscroll {
  	height: 100%;
  	overflow: hidden;
  }
}

.container {
  @include outer-container;
  @include media($large-phone) {
    padding: 0 $padding-l;
  }
}
.main-container {
  @include outer-container;
  background-color: $background;
  min-height: 100%;
}
.navbar-offset {
  padding-top: rem(44px);
  min-height: calc(100% - 3.73rem);
  @include media($phone) {
    padding-top: 0px;
  }
}
.half {
  @include span-columns(6);
}