
body {
  
  &.noscroll {
  	height: 100%;
  	overflow: hidden;
  }
}
.container {
  @include outer-container;
  @include media($large-phone) {
    padding: 0 $padding-l;
  }
}
.main-container {
  @include outer-container;
  background-color: $background;
  min-height: 100%;
}
.navbar-offset {
  padding-top: rem(40px);
  min-height: 100%;
  padding-bottom: $footer-height; 
  margin-bottom: -$footer-height;
  @include media($phone) {
    padding-top: 0px;
  }
}
.half {
  @include span-columns(6);
}