html {
  font-size: 16px;
  @include media($small-screen) {
    font-size: 15px;
  }
  @include media($big-tablet) {
    font-size: 14px;
  }
  @include media($large-phone) {
    font-size: 13px;
  }
}

$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;
$font-black: 900;

$best-sans-fonts: 'helvetica neue', 'helvetica', 'Arial', sans-serif;
$best-serif-fonts: 'Georgia', 'Palatino Linotype', 'Book Antiqua', serif;
$icon-font: 'fontawesome';

$body: 'bariol-regular', $best-sans-fonts;
$body-italic: 'bariol-italic', $best-sans-fonts;
$body-emphasis: 'bariol-bold-italic', $best-sans-fonts;
$script: 'bdroen', cursive;
$header: 'intro', $best-serif-fonts;

body {
  font-family: $body;
}
strong {
  font-weight: $bold;
}
b {
  font-weight: $bold;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%white-fonts {
  h1,h2,h3,h4,h5,p {
    color: white;
  }
}
%link-styling {
  h1, h2, h3, h4, h5, h6, p {
    a {
      font-style: italic;
      color: $salmon;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $salmon;
      }
    }
  }
}


h4,h5 {
  font-family: $body;
}

h1 {
  @include font($header,rem(60px),$bold,$black);
  line-height: 0.85;
}

h2 {
   @include font($header,rem(30px),$light,$black);
}

h3 {
  @include font($body,rem(27px),$regular,$text-body-color);
  font-style: italic;
}

blockquote {
  padding-bottom: $padding-xl;
  position: relative;
}

h4 {
  @include font($header,rem(21px),$semibold,$salmon);
}

h5 {
  @include font($header,rem(50px),$bold,$black);
}

p {
  @include font($body,rem(20px),$regular,$text-body-color);
  line-height: 1.8;
}

blockquote {

}