
//colors
$background: #F5F3F0;
$grey-background: #dcd8d5;
$main-color: #666666;
$text-body-color: rgba(0,0,0,.7);
$black: #554541;
$light-grey: #F8F8F8;
$grey: #e1e1e1;

$hg-pink: #F18E8A;
$magenta: #FF79A2;
$light-pink: #ffb9b9;

$salt-blue: #B1E2F3;
$pepper-grey: #B3B4B6;
$lemon-yellow: #B3B4B6;
$garlic-purple: #E0BDDA;
$oil-yellow: #ECE197;
$onion-brown: #EBB18E;
$herb-green: #96CB67;
$spice-red: #F43B47;

$salmon: #FBA18A;
$equipment: #FBA18A;
$ingredients: #F87959;
$techniques: #B1CF99;
$tips-tricks: lighten($hg-pink, 5%);
$save-dinner: #DF8699;
$general: #7FA9AB;

$texture: #FEAF51;
$taste: #AEDBB8;
$appearance: #BD4587;

$blue: #95c7db;
$green: #ACC688;
$orange: #F79653;
//borders
$border-base-radius: rem(4px);
$border-base-color: #dddddd;


$input-base-height: rem(35px);
$footer-height: rem(60px);
//paddings
$padding-xl: rem(30px);
$padding-l: rem(20px);
$padding-base: rem(15px);
$padding-s: $padding-l/2;
$padding-xs: $padding-l/4;
