---
layout: default
Title: Save my dinner!
---
<div class="chapter-header save-dinner">
  <div class="center-blocks">
    <div class="image-block">
      {% image chapters/save-dinner.png %}  
    </div>
    <div class="description-block">
      <h3>
        Cooking can be really random and changeable, which is it why pays off when you, 
      as a cook, can be completely flexible.   
      </h3>
      <p>
        Things will go wrong...Sometimes VERY WRONG, but that’s OK. If you’re adaptable and able to understand the processes that will help you fix your mistakes, you’ll do just fine. 
      </p>
    </div>
  </div>
</div>
<div class="save-dinner-intro">
  <div class="center-blocks">
    <div class="image-block">
      {% image chapters/save-dinner2.png %}  
    </div>
    <div class="description-block">
      <h2>How to save a dinner</h2>
      <p>
        Setting out to do things right is all good, but when things go wrong, don’t think that you have to start over or settle to eat the disaster you have created   
      </p>
      <h3>
        Shit happens, but cooking can be very forgiving when things have gone wrong. 
      </h3>
      <p>
        You can end up with a dish that is the opposite of what you started out to do, but it doesn’t mean it is a failure (unless it’s inedible). Disaster recovery isn’t really a time machine.  
      </p>
      <p>
         Think of it as making the choices that will give you the best end result, not as forcing the food back into what you originally wanted. Think of your failed dishes as new ingredients, not as failures.   
      </p>
      <p>
        Start by locating the characteristic that makes you think the dish is unsuccessful:   
      </p>
      <ol>
        <li>TEXTURE</li>
        <li>TASTE</li>
        <li>APPEARANCE</li>
      </ol>
      <p>
         And if the only problem is it looks or tastes like another dish than what you intended – just pretend it’s the dish you’d set out to do.
      </p>
      <h3>
        If it smells good, tastes good, looks good and feels fine, then there’s nothing to worry about. 
      </h3>
    </div>
  </div>
</div>
<div class="posts">
  <a href="#" class="savedinner-headers texture" id="texture-toggle">
    <h1>Texture</h1> 
    <h3>
      Something is wrong with the texture
    </h3>
    <div class="giant-button">
      Save my Dinner!
    </div>
  </a>
  <a class="savedinner-headers disabled taste" id="taste-toggle">
    <h1>Taste</h1> 
    <h3>
      Something is wrong with the flavour
    </h3>
    <div class="giant-button">
      Coming soon...
    </div>
  </a>
  <a class="savedinner-headers disabled appearance" id="appearance-toggle">
    <h1>Appearance</h1> 
    <h3>
      Something is wrong with the way it looks
    </h3>
    <div class="giant-button">
      Coming soon...
    </div>
  </a>
  {% for post in site.categories.savedinner %}
    {% if post.save-type == "texture" %}
      <div class="savedinner-cat texture" id="texture-block">
        {%include post-base-block.html %}  
        <a href="#" class="close-toggle texture">
            <h2>
              <i class="fa fa-arrow-left"></i> It wasn't texture after all. Let's try something else.
            </h2>
        </a>
      </div>
    {% elsif post.save-type == "taste"%}
      <div class="savedinner-cat taste">
        {%include post-base-block.html %}  
      </div>
    {% else %}
      <div class="savedinner-cat appearance">
        {%include post-base-block.html %}  
      </div>
    {% endif %}
  {% endfor %}
</div>

