.back-to {
	@extend %white-fonts;
	width: 100%;
	padding: $padding-l;
	border-top: 1px dashed rgba(255,255,255,0.5);
	text-align: center;
	a {
		@include button(white, rgba(0,0,0,0), white, white);
		display: inline-block;
	}
}

%chapter-gradients {
	&.equipment {
		@include color-block-gradient($equipment);
		.hover-overlay {
			background-color: $equipment;
		}
	}
	&.ingredients {
		@include color-block-gradient($ingredients);
		.hover-overlay {
			background-color: $ingredients;
		}
	}
	&.techniques {
		@include color-block-gradient($techniques);
		.hover-overlay {
			background-color: $techniques;
		}
	}
	&.tips-tricks {
		@include color-block-gradient($tips-tricks);
		.hover-overlay {
			background-color: $tips-tricks;
		}
	}
	&.save-dinner {
		@include color-block-gradient($save-dinner);
		.hover-overlay {
			background-color: $save-dinner;
		}
	}
	&.general {
		@include color-block-gradient($general);
		.hover-overlay {
			background-color: $general;
		}
	}
}

.chapters {
	@include display(flex);
	@include flex-flow(wrap);
}
.chapter {
	@include display(flex);
	@include span-columns(4);
	text-align: center;
	padding: $padding-base;
	position: relative;
	@extend %white-fonts;
	img {
		max-height: 400px;
	}

	@extend %chapter-gradients;
	@extend %overlay-support;
		@include media($min-max-width) {
			@include span-columns(2);
		}

		@include media($tablet) {
			@include span-columns(6);
			img {
				max-height: 250px;
			}
			.hover-overlay {
				background-color: rgba(white,0) !important;
			}
		}
		@include media($large-phone) {
			@include span-columns(12);
		}
}
.chapter-header {
	@include clearfix;
	@extend %chapter-gradients;
	@extend %white-fonts;
	padding: $padding-xl*2 0;
	.center-blocks {
		@include col(10,1,$tablet,12,0);
		> div {
			display: inline-block;
			vertical-align: bottom;
		}
		.image-block {
			width: 50%;
			text-align: center;
		}
		.description-block {
			width: 49%;
			padding-left: $padding-base;
			padding-bottom: $padding-xl*2;
			@extend %numbered-list;
			ol {
				padding: $padding-base;
				li {
					color: white;
				}
			}
			p {
				padding-bottom: $padding-base;
			}
		}
	}
	&.techniques {
		.center-blocks {
			> div {
				vertical-align: top;
			}
		}
	}
	@include media($tablet) {
		padding: $padding-l 0; 
		.center-blocks {
			.description-block, .image-block {
				width: 100%;
				display: block;
				padding-bottom: $padding-base;
				img {
					max-height: 400px;
				}
			}
		}
	}
}