%overlay-support {
	.hover-overlay {
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		text-align: center;
		@include transition(all 0.2s ease-in-out);
		.ghost-button {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			display: inline-block;
			@include button(white, rgba(0,0,0,0), white, white);
			&:hover {
				background: rgba(white,0);
			}
		}
		@include media($tablet) {
			position: relative;
			opacity: 1;
			.ghost-button {
				position: relative;
				@include transform(translate(0,0));
				top: 0;
				left: 0;
				margin-bottom: $padding-base;
			}
		}
	}
	&:hover {
		.hover-overlay {
			opacity: 0.9;
		}
	}
}

.posts {
	@include clearfix;
	clear: both;
	@include display(flex);
	@include flex-flow(wrap);
	&.home {
		background-color: $light-pink;
	}
	&.tricks {
		.tricks {
			@extend %white-fonts;
			display: block;
			background: $tips-tricks;
			width: 100%;
			padding: $padding-xl;
			text-align: center;
			margin-bottom: $padding-l;
		}
		.post {
			border-bottom: 1px dashed $grey;
			h1,h2,h3,h4,h5,h6,p {
				color: $hg-pink;
			}
			h3 {
				font-size: rem(21px);
			}
			.tip-type {
				padding-bottom: $padding-xs;
				margin-bottom: $padding-base;
			}	
		}	
		.post + .post {
			border-left: 1px dashed $grey;
		}
	}

	.post, .latest, .related {
		@include display(flex);
		@include span-columns(3);
		text-align: center;
		padding: $padding-base;
		position: relative;
		@extend %white-fonts;
		&:first-child {
			margin-left: -1px !important;
		}
		img {
			max-height: rem(200px);
			padding-bottom: $padding-base;
		}

		&:hover {
			&:before {
				visibility: visible;
				opacity: 1;
			}
		}
		.post-type {
			font-size: rem(21px);
			margin-bottom: $padding-base;
			text-align: left;
			padding-left: $padding-base;
			border-bottom: 1px dashed rgba(255,255,255,0.8);
			padding-bottom: $padding-xs;
		}
		.post-title {
			padding-bottom: $padding-l;
			font-size: rem(50px);
			@include media($small-screen) {
				font-size: rem(40px);
			}
		}
		.post-meta {
			text-align: center;
			font-size: rem(16px);
			font-family: $bold;
			color: white;
			font-weight: $bold;
			.post-date {
				font-family: $body-emphasis;
			}
		}

		@extend %overlay-support;
		.hover-overlay .ghost-button:hover {
			border: 2px solid white;
		}
		@include media($min-max-width) {
			@include span-columns(2);
		}
		@include media($big-tablet) {
			@include span-columns(4);
		}
		@include media($tablet) {
			@include span-columns(6);
		}
		@include media($large-phone) {
			@include span-columns(12);
		}
	}
	.latest {
		background-color: $hg-pink;
		text-align: right;
		padding: $padding-l;
		@include media($large-phone) {
			text-align: center;
		}
		p {
			font-size: rem(16px);
			max-width: 70%;
			float: right;
			line-height: 1.2;
			font-family: $body-italic;
		}
	}
	.related {
		text-align: right;
		padding: $padding-l;
		@include media($large-phone) {
			text-align: center;
		}
	}
}


.post-header {
	.post-meta {
		.last-updated {
			font-family: $body-italic;
			font-size: rem(14px);
		}
	}
}

.pointer-containers {
	@include clearfix;
	padding-top: $padding-base;
	border-top: 1px dashed rgba(white,0.7);
	> div {
		@include col(5,0,$large-phone,12,0);
		margin-right: $padding-s;
		border-radius: $border-base-radius;
	}
}

.post-container {
	min-height: 100%;
	.text {
		min-height: 80%;
		@include col(7,3,$tablet,9,2);
		@include omega;
		padding-left: $padding-xl;
		padding-top: $padding-xl;
		padding-bottom: $padding-l;
		@extend %basic-padding;
		img {
				max-height: 350px;
			}
		.float-left {
			float: left;
			padding-top: $padding-l;
			padding-right: $padding-l;
			padding-bottom: $padding-l;
		}
		.float-right {
			float: right;
			padding-top: $padding-l;
			padding-right: $padding-l;
			padding-bottom: $padding-l;	
		}
		.center {
			width: 100%;
			text-align: center;
		}
		ul {
			li {
				padding-left: $padding-xl;
				position: relative;
				padding-top: $padding-s;
				padding-bottom: $padding-s;
				p {
					padding-bottom: $padding-s;
				}
				&:before {
					content: $fa-var-cutlery;
					font-family: $icon-font;
					position: absolute;
					left: 0px;
					top: $padding-s*2;
					color: $hg-pink;
				}
			}
			li + li {
				border-top: 1px dotted rgba($hg-pink, 0.5);
			}
		}
		@include media($large-phone) {
				padding: $padding-base;
				@include simple-col(12,0);
		}
		@include media($iphone) {
			padding: $padding-base 0
		}
	}
}
.related-content {
	text-align: center;
	padding: $padding-l $padding-base;
	@extend %white-fonts;
	.related-tags {
		@include col(8,2,$tablet,12,0);
	}
}
.posts + .related-content {
	border-top: 1px dashed rgba(255,255,255,0.8);
}

.post-header {
	@include media($large-phone) {
		text-align: center;
	}
	.subject-image {
		padding: $padding-base;
		@include col(3,0,$large-phone,12,0);
		position: relative;
		img {
			position: absolute;
			max-width: 100%;
			top: 50%;
			@include transform(translateY(20%));
		}
		@include media($large-phone) {
			img {
				position: relative;
				max-height: 200px;
				top: 0%;
				@include transform(translateY(0%));
			}
		}
	}
	.subject-name {
		padding: $padding-xl*2 0px $padding-xl $padding-xl;
		@include col(7,0,$tablet,9,0);
		@include omega();
		@extend %white-fonts;
		@include media($large-phone) {
			@include span-columns(12);
			padding: $padding-base 0px;
		}
		.subject-summary {
			font-weight: normal;
			font-size: rem(30px);
		}
	}
	.tag-bubbles {
		padding-bottom: $padding-l;
	}
	.pointer-containers {
		> div {
			.header {
				font-size: rem(21px);
				color: white;
				text-transform: uppercase;
				padding-bottom: $padding-xs;
			}
			p {
				font-size: rem(16px);
			}
		}
		img {
			max-width: 80%;
		}
	}	
}
