%overlay-support {
	.hover-overlay {
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		text-align: center;
		@include transition(all 0.2s ease-in-out);
		.ghost-button {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			display: inline-block;
			@include button(white, rgba(0,0,0,0), white, white);
			&:hover {
				background: rgba(white,0);
			}
		}
		@include media($tablet) {
			position: relative;
			opacity: 1;
			.ghost-button {
				position: relative;
				@include transform(translate(0,0));
				top: 0;
				left: 0;
				margin-bottom: $padding-base;
			}
		}
	}
	&:hover {
		.hover-overlay {
			opacity: 0.9;
		}
	}
}
.posts {
	@include clearfix;
	clear: both;
	@include display(flex);
	@include flex-flow(wrap);
	

	.post, .latest {
		@include display(flex);
		@include span-columns(3);
		text-align: center;
		padding: $padding-base;
		position: relative;
		border-bottom: rem(5px) solid white;
		@extend %white-fonts;
		&:first-child {
			margin-left: -1px !important;
		}
		img {
			max-height: rem(200px);
			padding-bottom: $padding-base;
		}

		&:hover {
			&:before {
				visibility: visible;
				opacity: 1;
			}
		}
		.post-type {
			font-size: rem(27px);
			margin-bottom: $padding-base;
			text-align: left;
			padding-left: $padding-base;
			border-bottom: 1px dashed rgba(255,255,255,0.8);
			padding-bottom: $padding-xs;
		}
		.post-title {
			padding-bottom: $padding-l;
		}
		.post-meta {
			text-align: center;
			font-size: rem(16px);
			font-family: $bold;
			color: white;
			font-weight: $bold;
			.post-date {
				font-family: $body-emphasis;
			}
		}
		@extend %overlay-support;
		@include media($min-max-width) {
			@include span-columns(2);
		}
		@include media($big-tablet) {
			@include span-columns(4);
		}
		@include media($tablet) {
			@include span-columns(6);
		}
		@include media($large-phone) {
			@include span-columns(12);
		}
	}
	.latest {
		background-color: $hg-pink;
		text-align: right;
		padding: $padding-l;
		@include media($large-phone) {
			text-align: center;
		}
	}
}