---
layout: default
---

<div class="post-header" style="background: {{page.color}};">
  <div class="container">
    <div class="subject-image">
      {% assign page_image = page.image %}
      {% if page_image == %} 
        &nbsp; 
      {% else %}
        {{ page_image | image }}
      {% endif %}
    </div>
    <div class="subject-name">
      <h1>{{ page.title }}</h1>
      <h3 class="subject-summary">
        {{page.summary}}
      </h3>
      <div class="pointer-containers">
        <div class="cost">
          <div class="header">
            <i class="fa fa-money"></i>
            <b>What it costs</b>
          </div>
          <p>{{page.cost}}</p>
        </div>
        <div class="care">
          <div class="header">
            <i class="fa fa-heart"></i>
            <b>How to Care For</b>
          </div>
          <p>{{page.care}}</p>
        </div>
      </div>
      <div class="post-meta">
        <div class="tag-bubbles" style="color: {{page.color}};">
          {{ page | tags }}
        </div>
        <p class="last-updated">
          Last Updated: {{ page.last_modified_at | date: '%b %-d, %Y' }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container post-container">
  <article class="text">
    {{ content }}
  </article>
</div>
{% assign related_term = page.related %}
{% for post in site.related_posts %}
  {% if post.related == related_term %}
    <div class="posts" style="background: {{page.color}}">
      <li class="related">
        <h1>More about {{page.related}}:</h1>
        <p>
          Not sure what kind of info you're looking for? Want some inspiration? Think you've read all our posts? Get all the newest stuff, in one place
        </p>
      </li>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post" style="background: {{post.color}}">
        
        <h3 class="post-type">{{ post.type}}</h3>
        {% assign post_image = post.image %}
        {% if post_image == %} 
          &nbsp; 
        {% else %}
          {{ post_image | image }}
        {% endif %}
        <h4>The Honest Guide to</h4>
        <h1 class="h2 post-title">{{ post.title }}</h1>
        <div class="post-meta">
            {{post.date  | date: '%b %-d, %Y'}}
        </div>
        <div class="hover-overlay" style="background: {{post.color}}">
          <div class="ghost-button">
            Read More
          </div>
        </div>
      </a>
    </div>
    {% else %}
    
  {% endif %}
{% endfor %}
<div class="related-content" style="background: {{page.color}};">
  <div class="container">
    <div class="related-tags">
      <h2>Find more posts related to:</h2>
      <div class="tag-bubbles large" style="color: {{page.color}};">
        {{ page | tags }}
      </div>
    </div>
  </div>
</div>