<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include navigation.html %}
  <div class="navbar-offset">
    <div class="post-header" style="background: {{page.color}};">
      <div class="container">
        <div class="subject-image">
          {% assign page_image = page.image %}
          {% if page_image == %} 
            &nbsp; 
          {% else %}
            {{ page_image | image }}
          {% endif %}
        </div>
        <div class="subject-name">
          <h1>{{ page.title }}</h1>
          <h3 class="subject-summary">
            {{page.summary}}
          </h3>
          <div class="post-meta">
            <p>
              {{page.date  | date: '%b %-d, %Y'}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container post-container">
      <article class="text">
        {{ content }}
      </article>

    </div>
    <div class="container">
      {% for post in site.related_posts %}
        <a href="{{ post.url }}">{{ post.title }}</a><br />
      {% endfor %}
    </div>
  </div>  
  {% include footer.html %}
</body>
</html>