---
layout: default
---

<div class="post-header" style="background: {{page.color}};">
  <div class="container">
    <div class="subject-image">
      {% assign page_image = page.image %}
      {% if page_image == %} 
        &nbsp; 
      {% else %}
        {{ page_image | image }}
      {% endif %}
    </div>
    <div class="subject-name">
      <h1>{{ page.title }}</h1>
      <h3 class="subject-summary">
        {{page.summary}}
      </h3>
      <div class="pointer-containers">
        <div class="storage">
          <div class="header">
            <i class="fa fa-archive"></i>
            <b>Store it</b>
          </div>
          <p>{{page.storage}}</p>
        </div>
        <div class="longevity">
          <div class="header">
            <i class="fa fa-clock-o"></i>
            <b>Keep it</b>
          </div>
          <p>{{page.lifespan}}</p>
        </div>
      </div>
      <div class="post-meta">
        <div class="tag-bubbles" style="color: {{page.color}};">
          {{ page | tags }}
        </div>
        <p class="last-updated">
          Last Updated: {{ page.last_modified_at | date: '%b %-d, %Y' }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container post-container">
  <article class="text">
    {{ content }}
  </article>
</div>
{% assign related_term = page.related %}
{% for post in site.related_posts %}
  {% if post.related == related_term %}
    <div class="posts" style="background: {{page.color}}">
      <li class="related">
        <h1>More about {{page.related}}:</h1>
        <p>
          Not sure what kind of info you're looking for? Want some inspiration? Think you've read all our posts? Get all the newest stuff, in one place
        </p>
      </li>
      {%include post-base-block.html %}
    </div>
    {% else %}
    &nbsp; 
  {% endif %}
{% endfor %}
<div class="related-content" style="background: {{page.color}};">
  <div class="container">
    <div class="related-tags">
      <h2>Find more posts related to:</h2>
      <div class="tag-bubbles large" style="color: {{page.color}};">
        {{ page | tags }}
      </div>
    </div>
  </div>
</div>
<div class="back-to" style="background: {{page.color}};">
  <div class="container">
    <a href="/chapters/ingredients"><i class="fa fa-angle-left"></i> Back to Ingredients</a>
  </div>
</div>