---
layout: default
---

<div class="posts">
  <li class="latest">
    <h2>Posts about {{ page.tag }}:</h2>
  </li>
  {% for post in page.posts %}
    {% if post.category == "tip" %}
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post" style="background: {{post.color}}">
        <div class="hover-overlay" style="background: {{post.color}}">
          <div class="ghost-button">
            Read More
          </div>
        </div>
        <h3 class="post-type">{{ post.type}}</h3>
        {% assign post_image = post.image %}
        {% if post_image == %} 
          &nbsp; 
        {% else %}
          {{ post_image | image }}
        {% endif %}
        <h4>The Honest Guide to</h4>
        <h1 class="h2 post-title">{{ post.title }}</h1>
        <div class="post-meta">
            {{post.date  | date: '%b %-d, %Y'}}
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>
<div class="posts tricks">
  <div class="tricks">
    <div class="container">
      <h2>Tips & Tricks tagged with {{ page.tag }}</h2>
    </div>
  </div>
  {% for post in page.posts %}
   {% if post.category == "tip" %}
    <div class="post">  
      <h3 class="tip-type">{{ post.tiptype}} Tip</h3>
      {% assign post_image = post.image %}
      {{ if post.}}
      {% if post_image == %} 
        &nbsp; 
      {% else %}
        {{ post_image | image }}
      {% endif %}
      <h3 class="post-title wordwrap">{{ post.title }}</h3>
      </div>
    {% endif %}
  {% endfor %}
</div>