---
layout: default
---
<div class="post-header" style="background: {{page.color}};">
  <div class="container">
    <div class="technique-image">
      {% assign page_image = page.image %}
      {% if page_image == %} 
        &nbsp; 
      {% else %}
        {{ page_image | image }}
      {% endif %}
    </div>
    <div class="subject-name">
      <h1>{{ page.title }}</h1>
      <h3 class="subject-summary">
        {{page.summary}}
      </h3>
      <div class="pointer-containers">
        {% assign page_process = page.process %}
        {% if page_process == %} 
          &nbsp; 
        {% else %}
          {{ page_process | image }}
        {% endif %}
      </div>
      <div class="post-meta">
        <div class="tag-bubbles" style="color: {{page.color}};">
          {{ page | tags }}
        </div>
        <p class="last-updated">
          Last Updated: {{ page.last_modified_at | date: '%b %-d, %Y' }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="steps-container">
  {% for steps in page.steps %}
    <div class="step-row">
      <div class="step-image" style="background: rgba({{page.rgb}},{{steps.alpha}})">
        {% assign steps_image = steps.image %}
        {% if steps_image == %} 
          &nbsp; 
          {% else %}
          {{ steps_image | image }}
        {% endif %}
        <h2>
          {{steps.step}}
        </h2>
      </div>
      <div class="step-caption">
        <p>
          {{ steps.content }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>
<div class="container post-container">
  <article class="text">
    {{ content }}
  </article>
</div>
{% assign related_term = page.related %}
{% for post in site.related_posts %}
  {% if post.related == related_term %}
    <div class="posts" style="background: {{page.color}}">
      <li class="related">
        <h1>More about {{page.related}}:</h1>
        <p>
          Not sure what kind of info you're looking for? Want some inspiration? Think you've read all our posts? Get all the newest stuff, in one place
        </p>
      </li>
      {%include post-base-block.html %}
    </div>
    {% else %}
    &nbsp; 
  {% endif %}
{% endfor %}
<div class="related-content" style="background: {{page.color}};">
  <div class="container">
    <div class="related-tags">
      <h2>Find more posts related to:</h2>
      <div class="tag-bubbles large" style="color: {{page.color}};">
        {{ page | tags }}
      </div>
    </div>
  </div>
</div>
</div>  